.card {
    border : 1px solid gray;
    border-radius: 5px;
    margin-bottom: 0.6em;
    width: 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.card_text {
    margin-left: 1em;
    display : flex;
    justify-content: space-between;
}

.card_text p {
    padding: 0.3em;
}

.card_action_item {
    margin-right: 1em;
}

.completed {
    background-color: #ffe8e8;
}

.not_completed {
    background-color: #e8ffe8;
}